body
{
	background-color: #FFFFFF;
	font-size: 95%;
	font-family:'ÉqÉâÉMÉmäpÉS Pro W3','Hiragino Kaku Gothic Pro','ÉÅÉCÉäÉI',Meiryo,'ÇlÇr ÇoÉSÉVÉbÉN',sans-serif;
	color: #333333;
}

h1
{
	font-size: 90%;
	padding: 25px 15px 5px;
	border-bottom: 1px solid #CCCCCC;
	background: #F3F3F3;
	font-weight: normal;
}

h2
{
	font-size: 60%;
	margin: 0px 0px 10px;
	color: #333333;
	padding: 5px 0px 5px;
	background: #F3F3F3;
	clear: both;
}

h3
{
	font-size: 50%;
	margin: 20px 0px 10px 0px;
	color: #333333;
	border-bottom:1pt solid #9999FF;
	border-left:10pt solid #9999FF;
	padding: 0px 0px 5px;
	clear: both;
}

h4
{
	font-size: 40%;
	margin: 15px 0px 5px 0px;
	color: #333333;
	padding: 0px 0px 5px;
	clear: both;
	border-bottom: 1px dashed #999999;
}

